.ui.fluid.secondary.menu
  %a.item
    %img.ui.middle.aligned.mini.spaced.circular.image{:src => "http://placehold.it/50x50"}
    %span.logo Pioneer
  %a.active.item
    Home
  %a.item
    Clients
  %a.item
    Properties
  .right.menu
    .item
      .ui.icon.input
        %input{:placeholder => "Search...", :type => "text"}
          %i.search.link.icon
    %a.ui.item
      Logout
