.ui.top.fixed.menu
  .item
    %img{:src => "http://placehold.it/50x50"}
  %a.item Features
  %a.item Testimonials
  %a.item Sign-in
  .right.menu
    .item
      .ui.icon.input
        %input{:placeholder => "Search...", :type => "text"}
          %i.search.link.icon
    %a.ui.item
      Logout
